*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header{
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 11.5vw;
}

.menu-open{
    display: none;
}

.menu-close{
    display: none;
}
header nav ul{
    list-style: none;
    display: flex;
    margin-right: 11.5vw;
}

nav ul li a{
    margin-left: 2.5vw;
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
   color: hsl(5, 85%, 63%)
}

main{
    margin-top: 1vh;
    margin-left: 11.5vw;
    margin-right: 11.5vw;
    height: calc(100vh - 27vh);
    display: grid;
    grid-template-columns: 71% 29%;
    grid-template-rows: 75% 25%;
}
.bright-3{
    display: flex;
    flex-direction: column;
}

.bright-3 img{
    height: 55%;
    width: 96%;
}

.future-bright{
    display: flex;
    margin-top: 3vh;
}

.future-bright h1{
    font-weight: 800;
    max-width: 30%;
    font-size: 39px;
    
}

.future-bright-info{
    margin-left: 20%;
}

.future-bright-info p{
    font-size: 14px;
    max-width: 85%;
    color: hsl(236, 13%, 42%)
}

.future-bright-info button{
    text-transform: uppercase;
    font-size: 15px;
    padding: 8px;
    margin-top: 8%;
    width: 40%;
    background-color: hsl(5, 85%, 63%);
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    border: 0px;
    box-shadow: 0px 0px 1px 0px #666;
    cursor: pointer;
}

.future-bright-info button:hover{
    background-color: hsl(240, 100%, 5%);
}

.new-features{
    background-color: hsl(240, 100%, 5%);
    color: white;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-features h2{
    color: hsl(35, 77%, 62%);
    font-size: 32px;
    margin-top: 10px;
}

.new-features-links{
    max-width: 92%;
    padding-bottom: 5%;
    margin-top: 15px;
}

.new-features-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.new-features-links a:hover{
    color: hsl(35, 77%, 62%);
}

.new-features-links p{
    font-size: 13px;
    color: hsl(36, 100%, 99%);
    margin-top: 10px;
    font-weight: 400;
    opacity: 0.7;
}

.down{
    border-bottom: 1px solid hsl(236, 13%, 42%);
}

.hardwares{
    grid-column: 1/3;
    display: flex;
    justify-content: space-around;
    
}

.hardware{
    display: flex;
    margin-top: 4.2vh;
}
.hardware img{
    height: 14vh;
}

.info-hardware{
  margin-left: 5%;
}

.info-hardware .number{
    font-size: 23px;
    color: hsl(236, 13%, 42%);
    margin-bottom: 5px;
    font-weight: 700;
}

.info-hardware a{
    text-decoration: none;
    color: hsl(240, 100%, 5%);
    font-weight: 800;
    font-size: 15px;
}

.info-hardware a:hover{
    color: hsl(5, 85%, 63%);
}

.info-hardware p{
    font-size: 12px;
    max-width: 67%;
    margin-top: 5px;
}

@media screen and (min-width: 1920px) {
    .future-bright h1{
        font-size: 52px;
    }
    .future-bright-info p{
        font-size: 16px;
    }
    .hardware{
        margin-right: 100px;
    }
}

@media screen and (min-width: 600px) and (max-width:900px) {
    .future-bright h1{
        max-width: 100%;
        font-size: 30px;
    }
    .future-bright-info p{
        font-size: 10px;
    }
    .hardware{
        margin-left: 5px;
    }
    .info-hardware p{
        font-size: 9px;
        max-width: 100%;
    }

    .info-hardware a{
        font-size: 12px;
    }
    .hardware img{
        height: 8vh;
    }

    .info-hardware .number{
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    body{}
    .logo{
        margin-left: 8vw;
    }

    .logo img{
        width: 45px;
    }

    .menu-open{
        display: block;
        margin-right: 50px;
        margin-left: 255px;
    }
    
    .menu-close{
        display: block;
        margin-left: 200px;
    }

    header nav{
        margin-top: 265vh;
        z-index: 99;
        background-color: white;
        padding: 15px;
        height: 282vh;
        width: 100%;
        transition: all ease 0.3s;
        display: none;
        box-shadow: -180px 0px 500px hsl(236, 13%, 42%);
    }
    
    header nav ul{
        flex-direction: column;
    }
    nav ul li{
        padding-top: 25px;
    }

    main{
        margin-left: 8vw;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,1fr);
        margin-right: 8vw;
        z-index: -1;
    }

    .bright-3{
        grid-row: 1/2;
    }

    .new-features{
        grid-row: 2/3;
    }

    .hardwares{
        grid-row: 3/4;
    }

    .bright-3 img{
        height: 250px;
    }

    .future-bright{
        display: flex;
        flex-direction: column;
        margin-top: 3vh;
    }

    .future-bright h1{
        max-width: 80%;
        font-size: 34px;
        
    }

    .future-bright-info{
        margin-left: 0%;
    }
    
    .future-bright-info p{
        font-size: 14px;
        max-width: 90%;
    }

    .future-bright-info button{
        margin-top: 5%;
        margin-bottom: 12%;
    }

    .new-features h2{
        font-size: 30px;
        margin-top: 5px;
    }
    
    .new-features-links{
        max-width: 92%;
        padding-bottom: 10%;
        margin-top: 15px;
    }

    .new-features-links a{
        font-size: 20px;
    }

    .new-features-links p{
        font-size: 14px;
        max-width: 94%;
    }

    .hardwares{
        flex-direction: column;
        justify-content: space-around;
        margin-top: 5vh;
        padding-bottom: 5vh;
    }
    
    .hardware{
        display: flex;
        margin-top: 4.2vh;
    }
    .hardware img{
        height: 20vh;
    }
    
    .info-hardware{
      margin-left: 5%;
    }
    
    .info-hardware .number{
        font-size: 23px;
        margin-bottom: 5px;
    }

    .info-hardware a{
        text-decoration: none;
        color: hsl(240, 100%, 5%);
        font-weight: 800;
        font-size: 17px;
    }

    .info-hardware p{
        font-size: 14px;
        max-width: 75%;
        margin-top: 5px;
        line-height: 20px;
        opacity: 0.7;
    }

    
}

